<div class="col-lg-10 col-lg-offset-1" [@fadeIn]>
    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <p>Disfruta de los Animales más exoticos de nuestro zologico :)</p>
        <p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/animals']">Ver Animales</a>
            <a class="btn btn-success btn-lg" [routerLink]="['/keepers']">Ver Cuidadores</a>
            <a class="btn btn-warning btn-lg" [routerLink]="['/contact']">Contactanos</a>
        </p>
    </div>
</div>
<div class="clearfix"></div>

