Padre: Tienda
<h2>Organización {{ titulo }} {{ nombreDelParque }}</h2>
<ul>
	<li>Credito Emprendedor</li>
	<li>Asesoria Financiera</li>
	<li>Linea Aktiva</li>
	<li>Linea Finaktiva</li>
</ul>

<!-- <p>{{ attrParque.nombre }}</p> -->

<p>
	Nombre de Emprendimiento:
	<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()" />
</p>

<p>
  Resultado: {{ nombreDelParque }}
</p>

<div *ngIf="miParque">
  <ol>
    <li>{{ miParque.nombre }}</li>
    <li>{{ miParque.metros }}</li>
    <li>{{ miParque.vegetacion }}</li>
    <li>{{ miParque.abierto }}</li>
  </ol>
</div>

<hr>

<p *ngIf="nombreDelParque">
	Hijo: Parque
	<parques [nombre]="nombreDelParque"
			 (pasameLosDatos)="emitirDatos($event)"></parques>

</p>

