<div class="col-lg-12" [@fadeIn]>
        <h1>
            {{ title }}
        </h1>
        <div class="col-sm-6 col-md-4" *ngFor="let keeper of keepers">
            <div class="thumbnail">
                <div class="keeper-image-mask">
                    
                    <img src="{{ url+ 'get-image-file/'+ keeper.image }}" alt="{{ keeper.name }}" *ngIf="keeper.image">
    
                    <img src="http://via.placeholder.com/400x200" alt="{{ keeper.name }}" *ngIf="!keeper.image">
                </div> 
                <div class="caption">
                    <h3>{{ keeper.name +' '+keeper.surname }}</h3>
                </div>
            </div>
        </div>
    </div>
    