<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}!
  </h1>

  <a [routerLink]="['/home']">Inicio</a>
  <a [routerLink]="['/animals']">Animales</a>
  <a [routerLink]="['/keepers']">Cuidadores</a>
  <a [routerLink]="['/tienda']">Tienda</a>
  <a [routerLink]="['/contact']">Contactos</a>

  <span *ngIf="emailContacto"><strong>E-mail </strong>{{ emailContacto }} <button (click)="borrarEmail()">Eliminar email de contacto</button></span>
  
  <hr>

  <!-- <tienda></tienda> -->
  <router-outlet></router-outlet>

</div>


