<div class="col-lg-6">
   <h1>{{title}}</h1> 
   <div class="alert alert-success" *ngIf="status == 'success'">
        Login correcto
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
         No te haz identificado correctamente
    </div>

   <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
        <p>
            <label>Email</label>
            <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
            <span *ngIf="!email.valid && email.touched">El E-mail es Obligatorio</span>
        </p>
        <p>
            <label>Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!email.valid && email.touched">La contraseña es Obligatoria</span>
        </p>
        <input type="submit" value="Entrar" class="btn btn-success">
   </form>
</div>
