.navigation.col-lg-12{
    margin-top: 10px;
}

.jumbotron{
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #ccc;
}

.navbar-nav .active {
    border-bottom: 3px solid orange !important;
}

.navbar-default .navbar-nav>li>a{
    transition: all 300ms;
    border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav>li>a:hover{
    transition: all 300ms;
    border-bottom: 3px solid orange;
}

#email{
    padding: 20px;
}

.boton_transiciones{
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
    border: 4px solid green;
    transition: border 2s, border-radius 500ms, background 5s;
    display: block;
    width: 100px;
}

.boton_transiciones:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    background: #ccc;
    border: 1px solid red;

}

.caja_animada{
    margin-top: 15px;
    background: green;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    animation-name: deslizamiento;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Deslizamiento From - To */
@keyframes deslizamiento1{
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 400px;
        background: red;
    }
}

/* Deslizamiento en (%) */
@keyframes deslizamiento2{
    0% {
        margin-left: 0px;
    }
    25% {
        margin-left: 500px;
        background: red;
        border-radius: 1000px
    }
    50% {
        
        background: rgb(0, 255, 149);
    }
    75% {
        margin-left: 1000px;
        background: rgb(255, 123, 0);
    }
    100% {
        margin-left: 0px;
        background: yellow;
    }
}
/* Deslizamiento Rotacion */
@keyframes deslizamiento{
    from {
        transform: rotate(0deg);
        margin-left: 0px;
    }
    to {
        transform: rotate(360deg);
        margin-left: 600px;
    }
}